body {
  margin: 0;
  font-family: "roboto", Arial, Helvetica, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d5d4a9;
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html, body{
    max-width: 100vw;
    overflow-x: hidden;
    width:100vw;

}